ul,li{
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container{
    width:100%;
    float:left;
    display:bolck;
}
.container item{
    width:100px;
    height:30px;
    background:#ccc;
    float:left;
    margin:0 auto;
}
