ul,li{
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container{
    justify-content:center;
    align-item:center
}
.container .item{
    width:100px;
    height:30px;
    background:#ccc;
}
