ul,li{
    list-style-type: none;
}
a {
    text-decoration: none;
}
div{
     text-align:center;
    line-hight:30px;}

.container{
    width:1200px;
    float:left;
    display:flex;
    justify-content:space-between;

}
.item{
    width:100px;
    height:30px;
    background:#ccc;
    float:left;
    margin:0 auto;

}
